<!DOCTYPE html>
<html>
    <head>
        <title>EVE.Planets</title>
        <link href="/styles.css" rel="stylesheet" media="all" />
    </head>

    <body>
        Введите имя системы: <%=@system_name%>

        <form action ="/" method="POST">
            <input type="text" name="system_name" />
            <input type="submit" />

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

        </form>

        <%=@message%>
        Список планет в системе:
        <%=@planets_screen%>
        Базовые ресурсы в системе:
        <%=@system_Raw_Resource%>
        Ресурсы tier1 в системе:
        <%=@system_tier1%>
        Ресурсы tier2 в системе:
        <%=@system_tier2%>
        Ресурсы tier3 в системе:
        <%=@system_tier3%>
        Ресурсы tier4 в системе:
        <%=@system_tier4%>
    </body>
</html>