<!DOCTYPE html>
<html>
    <head>
        <title>EVE.Planets</title>
        <link href="/styles.css" rel="stylesheet" media="all" />
    </head>

    <body>
        Введите имя системы: <%=@system_name%>

        <form action ="/" method="POST">
            <input type="text" name="system_name" />
            <input type="submit" />
        </form>

        <%=@message%>
        Список планет в системе:
        <%=@planets_screen%>
        Базовые ресурсы в системе:
        <%=@system_Raw_Resource%>
        Ресурсы tier1 в системе:
        <%=@system_tier1%>
        Ресурсы tier2 в системе:
        <%=@system_tier2%>
        Ресурсы tier3 в системе:
        <%=@system_tier3%>
        Ресурсы tier4 в системе:
        <%=@system_tier4%>
    </body>
</html>