<h1>Введите имя системы: <%=@system_name%></h1>

<form action ="/" method="POST">
    <input type="text" name="system_name" />
    <input type="submit" />
</form>

<p><%=@message%></p>
<h1>Список планет в системе:<h1>
<p><%=@planets_screen%></p>
<h1>Базовые ресурсы в системе:<h1>
<p><%=@system_Raw_Resource%></p>
<h1>Ресурсы tier1 в системе:<h1>
<p><%=@system_tier1%></p>
<h1>Ресурсы tier2 в системе:<h1>
<p><%=@system_tier2%></p>
<h1>Ресурсы tier3 в системе:<h1>
<p><%=@system_tier3%></p>
<h1>Ресурсы tier4 в системе:<h1>
<p><%=@system_tier4%></p>