<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8">
        <title>EVE.Planets</title>
    </head>

    <body>
        <h1>Введите имя системы: <%=@system_name%></h1>

        <form action ="/" method="POST">
            <input type="text" name="system_name" />
            <input type="submit" />


        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


        </form>

        <%=@message%>
        Список планет в системе:
        <%=@planets_screen%>
        Базовые ресурсы в системе:
        <%=@system_Raw_Resource%>
        Ресурсы tier1 в системе:
        <%=@system_tier1%>
        Ресурсы tier2 в системе:
        <%=@system_tier2%>
        Ресурсы tier3 в системе:
        <%=@system_tier3%>
        Ресурсы tier4 в системе:
        <%=@system_tier4%>
    </body>
</html>
